.container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    padding: 50px;
}

h3 {
    padding: 20px 0;
}

.searchContainer {
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;

    display: flex;
    flex-direction: row;
}

.searchInput {
    width: 100%;
}

.searchIcon {
    color: rgba(0, 0, 0, 0.87);
    padding: 2px;
}